<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBookContractor" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.local.webshop.pl/ShopService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookContractor"
                contract="BookConctractor.IBookContractor" name="BasicHttpBinding_IBookContractor" />
        </client>
    </system.serviceModel>
</configuration>