<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>www.local.webshop.pl</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>WebShop</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ShopWebEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=G-KOMPUTER\SQLEXPRESS;Initial Catalog=ShopWeb;Persist Security Info=True;User ID=sa;Password=0okm)OKM" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataLayer.ShopWebEntities, Shop.Web.BLL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ShopWebEntities-Web.config Connection String">
      <ParameterValue>Data Source=G-KOMPUTER\SQLEXPRESS;Initial Catalog=ShopWeb;Persist Security Info=True;User ID=sa;Password=0okm)OKM</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>